@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Juana';
  src: url('./assets/fonts/Juana-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Juana';
  src: url('./assets/fonts/Juana-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Juana';
  src: url('./assets/fonts/Juana-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@layer components {
  .title {
    @apply font-juana font-bold sm:text-4xl md:text-8xl italic ;
  }

  .subtitle {
    @apply font-juana font-light sm:text-xl md:text-4xl text-gray-200 italic ;
  }

  .description {
    @apply font-juana font-normal text-gray-300 text-xl;
  }
}